#nutrition {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#nutrition td, #nutritionth {
    border: 1px solid #ddd;
    padding: 8px;
}

#nutrition tr:nth-child(even){background-color: #f2f2f2;}

#nutritiontr:hover {background-color: #ddd;}

#nutrition th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color:#8CC640;
}
 /*----Exercise----*/
									 #exlinks li{
									  line-height:280%;
									  float :left;
									  width:110px;
									  }
									   #exlinks li:hover {
									  
									   text-decoration: underline;
                                        text-decoration-color:#8CC640;
									  }
									
	

.image:hover  {
opacity:0.4;
}
video {
    width: 100%;
    height: auto;
	
}

 .modal-content iframe{
        margin: 0 auto;
        display: block;
    }
	.h4{
	 cursor:pointer;
	}
	.h4:hover {
	color:#8CC640;
	}
	
	